.App {
  display:flex;
  flex-direction: column;
  flex: 1;
  padding : 50px;
}

.Input-form {
 flex: 1;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 background-color: blanchedalmond;
 margin-right: 30px;
}
.List-value {
  flex: 1;
  background-color:lightgreen;
  padding: 30px;
}
.Action-btn {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
}
.Form-group {
  display: flex;
  align-items: flex-start;
  margin: 15px;
}
label {
  text-align: right;
  padding-right: 10px;
}